@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

body {
  font-family: 'Roboto';
  color: #111;
  background-color: #97A5EE;
}